.chat{
	display: flex;
	flex-direction: column ;
	flex: 0.65;
}

.chat_header{
	padding: 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
}
.chat_headerinfo{
	flex:1;
	padding-left: 20px;
	
}

.chat_headerinfo>h3{
	margin-bottom:3px;
	font-weight: 500;
	
}
.chat_headerinfo>p{
	color: grey;
	
}
.chat_body{
	flex:1;
	background-image: url("D:\Semester 4\Mini Project\my-project\public\chat-background.png");
	background-repeat: repeat;
	background-position: center;
	padding: 30px;
	overflow: scroll;
}
.chat_name{
	position: absolute;
	font-weight: 800;
	top:-15px;
	font-size: xx-small;
}
.chat_message{
	position: relative;
	font-size: 16px;
	width: fit-content;
	border-radius:10px ;
	height: 30px;
	background-color: white;
	margin-bottom: 30px;
	padding :2px;
}
.chat_timestamp{
	margin-left: 10px;
	font-size: xx-small;
	margin-bottom: -30px;
}
.chat_reciever{
	margin-left: auto;
	background-color: #dcf8c6;
	
}

.chat_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	border-top: 1px solid lightgrey;
}
.chat_footer>form{
	flex: 1;
	display: flex;
}
.chat_footer>form>input{
	flex: 1;
	outline-width: 0;
	border-radius: 30px;
	padding: 10px;
	border: none;
}
.chat_footer>form>button{
	display: none;
}
.chat_footer>.MuiSvgIcon-root{
	padding: 10px;
	color: grey;
	
}
