.sidebar{
	display: flex;
	flex-direction: column ;
	flex: 0.35;
}

.sidebar_header{
	display: flex;
	justify-content: space-between	;
	padding: 20px;
	border-top: 2px;
	border-right: 1px solid lightgray;
}
.sidebar_headerright{
	display: flex;
	align-items: center;
	justify-content: space-between	;
	min-width: 10vw;
}
.sidebar_headerright>.MuiSvgIcon-root{
	margin-top: 2vw;
	font-size: 24px !important;
}
.sidebar_search{
	display: flex;
	align-items: center;
	background-color: #f6f6f6;
	height: 39px;
	padding: 10px;
}
.sidebar_searchcontainer{
	display: flex;
	align-items: center;
	background-color: white;
	width:100%;
	height: 35px;
	border-radius: 20px ;
}
.sidebar_searchcontainer>.MuiSvgIcon-root{
	color: grey;
	padding: 10px;
}
.sidebar_searchcontainer> input{
	border:none;
	outline-width: 0;
	margin-left: 5px;
}

.sidebar_chats{
	flex: 1;
	background-color: white;
	overflow: scroll;
}
