.sidebarChat{
	display: flex;
	padding: 20px;
	cursor: pointer;
	border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover{
	background-color: #eaeaeb;
}

.sidebarchat_info>h2{
	font-size: 18px;
	margin-bottom: 8px;
	
}
.sidebarchat_info>p{
	font-size: 15px;
	margin-bottom: 8px;
	color: grey;
	
}
.sidebarchat_info{
	margin-left: 15px;
	
}